* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navegacao {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    position: relative;
}

.menu-direita {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    flex: 1;

}

.pesquisa {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
}

.input-pesquisa {
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/1200px-Magnifying_glass_icon.svg.png') no-repeat right 10px center;
    background-size: 18px;
    padding-right: 30px;
}

.menu-direita a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-direita a:hover {
    background-color: white;
    color: orange;
    cursor: pointer;
}

.menu-direita a:active {
    background-color: darkorange;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel {
    justify-items: center;
}

.carousel-inner {
    max-width: 900px;
    margin-top: 2em;
    width: 100%;
    max-height: 1000px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
}

.carousel-caption h5 {
    color: white;
    font-size: 1.5rem;
}

.carousel-caption p {
    color: white;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .carousel-img {
        height: 300px;
    }

    .input-pesquisa {
        width: 180px;
    }

    .menu-direita {
        flex-direction: column;
        gap: 1em;
        align-items: center;
    }

    .pesquisa {
        margin-left: 0;
        position: static;
    }
}

.titulo-receitas {
    color: red;
}

.receitas {
    color: black;
    padding: auto;
    margin: 0%;
    text-align: center;
}

.mini-videos {
    width: 350px;
    height: 250px;
    position: relative;
    left: 31rem;

}

.videos{
    display: flex;
    align-items: center;
    position: relative;
    
}

.oi{
    position: relative;
    left: 32rem;
}
